{
  "nom": "{{ identity.nom }}",
  "prenom": "{{ identity.prenom }}",
  "promo": "{{ identity.promo }}",
  "secret": "{{ identity.secret }}",
  "hobbies": [
    "Series",
    "Movies",
    "Comics"
  ]
}
